<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <input type="text" placeholder="digite seu nome" id="name" oninput="enviar()">
    <button>Enviar</button>
    <hr>
    <p id="result"></p>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
<script>
    const socket = io("http://localhost:3333");
    socket.on("disconnect", () => {
        document.getElementById("result").innerHTML = "Desconectado"
    })
    socket.emit("boas-vindas", { name: "Olá usuario tudo bem? qual seu nome?" });

    socket.on("result", (data) => {
        document.getElementById("result").innerHTML = data
    })

    function enviar() {
        const name = document.getElementById("name").value
        socket.emit("name", { name })
    }
</script>

</html>