<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog in node</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
  </head>

  <%- include("../partials/footer.ejs")%>
</html>
