<%- include('../views/partials/header.ejs'); %>
<body>
  <%- include('../views/partials/navbar.ejs'); %>
  <h1 class="text-center my-2">Perguntas e Respostas</h1>
</body>
<%- include('../views/partials/footer.ejs'); %>
