<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Bem vindo ao meu site</h1>
    <p>Nome: <%= nome %></p>
    <p>Linguagem utilizada: <%= lang %></p>
    <% if(!exibirmsg === true){ %>
    <h3>Isso é uma mensagem de erro</h3>
    <%} else { %>
    <h3>Nenhum erro...</h3>
    <% } %>

    <img src="/img/BMW-320i.jpeg" />
  </body>
</html>
