<%- include('../views/partials/header.ejs'); %>
<body>
  <div class="container">
    <%- include('../views/partials/navbar.ejs'); %>

    <div class="card" id="form-pergunta">
      <div class="card-header">
        <h3>Realizar pergunta</h3>
      </div>
      <div class="card-body">
        <form method="POST" action="/salvarPergunta">
          <label>Titulo:</label>
          <input type="text" placeholder="titulo da pergunta" class="form-control" name="title" />
          <br />
          <label>Descrição:</label>
          <textarea placeholder="descreva sua pergunta aqui..." class="form-control" name="description"></textarea>
          <br />
          <button type="submit" class="btn btn-success">Perguntar</button>
        </form>
      </div>
      <hr />
    </div>
</body>
<%- include ('../views/partials/footer.ejs'); %>
